<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elimina Prenotazione</title>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/prenotazioni/elimina/conferma}" method="get" modelAttribute="utente">
        <div class="container">
            <h1>Elimina prenotazione</h1>
            <hr>

            <label>Data</label><br>
            <input type="date" placeholder="Data" name="data" size="40" required><br>
            <label>Partenza</label><br>
            <input type="text" placeholder="Partenza" name="partenza" size="40" required><br>
            <label>Arrivo</label><br>
            <input type="text" placeholder="Arrivo" name="arrivo" required>
            <label>Ora partenza</label><br>
            <input type="text" placeholder="Ora partenza" name="ora partenza" size="40" required><br>
            <label>Numero biglietti</label><br>
            <input type="text" placeholder="Numero biglietti" name="numero biglietti" size="40" required><br>
            <label>ID volo</label><br>
            <input type="text" placeholder="ID volo" name="id volo" size="40" required><br>


            <hr>
            <h2>La prenotazione per il seguente volo verrà eliminata.</h2>
            <h2>Confermare?</h2>

            <button type="submit" class="registerbtn">Conferma!</button>
        </div>
    </form>
</div>
</body>
</html>