<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Visualizza Prenotazione</title>
</head>
<body>

<table align="center">
    <style>
        table {
        border-collapse:collapse
        }
        td, th {
        border:1px solid #000000;
        padding:8px;
        }
    </style>
    <thead>
    <tr>
        <th> Data </th>
        <th> Partenza </th>
        <th> Arrivo </th>
        <th> Ora Partenza </th>
        <th> ID Volo </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${listaPrenotazioni.empty}">
        <td colspan="2"> Nessuna prenotazione disponibile </td>
    </tr>
    <tr th:each="volo : ${listaPrenotazioni}" align="center">
        <td><span th:text="${volo.data}"> Data </span></td>
        <td><span th:text="${volo.partenza}"> Partenza </span></td>
        <td><span th:text="${volo.arrivo}"> Arrivo </span></td>
        <td><span th:text="${volo.h_partenza}"> Ora Partenza </span></td>
        <td><span th:text="${volo.id}"> ID Volo </span></td>
        <td>
            <div align="center">
                <form action="#" th:action="@{/prenotazioni/elimina}" method="post" th:object="${prenotazione}">
                    <div class="container">
                        <input type="hidden" th:value="${volo.id}" name="id_volo">
                        <button type="submit">Elimina</button>
                    </div>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>