<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizza Prenotazione</title>
</head>
<body>
<div align="center">
<table>
    <style>
        table {
        border-collapse:collapse
        }
        td, th {
        border:2px solid #000000;
        padding:8px;
        }
    </style>
    <caption>
        <p>Le mie prenotazioni</p>
    </caption>
    <thead>
    <tr><td>Data</td><td>Partenza</td><td>Arrivo</td><td>Ora Partenza</td><td>Numero Biglietti</td><td>ID Volo</td></tr>
    </thead>
    <tbody>
    <tr><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td></tr>
    <tr><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td></tr>
    <tr><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td><td>Dato</td></tr>
    </tbody>
</table>
    </div>
</body>
</html>