<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check-In</title>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/prenotazione/checkin}" method="post" modelAttribute="utente">
        <div class="container">
            <h1>Check-In</h1>
            <hr>

            <label><b>Nome</b></label><br>
            <input type="text" name="nome" size="15"/><br><br>

            <label><b>Cognome</b></label><br>
            <input type="text" name="cognome" size="15"/><br><br>

            <label><b>Codice fiscale</b></label><br>
            <input type="text" name="cf" size="16"/><br><br>

            <label><b>Numero documento</b></label><br>
            <input type="text" name="id_documento" size="15"/><br><br>

            <hr>

            <label><b>Nome</b></label><br>
            <input type="text" name="nome" size="15"/><br><br>

            <label><b>Cognome</b></label><br>
            <input type="text" name="cognome" size="15"/><br><br>

            <label><b>Codice fiscale</b></label><br>
            <input type="text" name="cf" size="16"/><br><br>

            <label><b>Numero documento</b></label><br>
            <input type="text" name="id_documento" size="15"/><br><br>

            <hr>
            <button type="submit" class="registerbtn">Registra viaggiatore</button>
        </div>
    </form>
</div>
</body>
</html>