<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crea Prenotazione</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/prenotazioni/salva}" method="post" modelAttribute="utente">
            <div class="container" align="center">

                <h1>Prenotazione</h1>
                <b >Partenza: </b>
                <i th:text="${volo.partenza}"></i>
                <br><br>
                <b>Arrivo: </b>
                <i th:text="${volo.arrivo}"></i>
                <br><br>
                <b>Compagnia: </b>
                <i th:text="${volo.compagnia}"></i>
                <br><br>
                <b>Prezzo: </b>
                <i th:text="${volo.prezzo}"></i>
                <br><br>
                <hr>
                <label>Email</label>
                <input type="text" placeholder="mail" name="mail" required>
                <hr>
            </div>
            <div class="container" align="center">
                <label>Numero Biglietti</label><br>
                <input type="number" name="numero_biglietti" min="1" max="5" value="1" size="20"/> <br>
                <button type="submit" class="registerbtn">Avanti</button>
            </div>
        </form>
    </div>
</body>
</html>