<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login success</title>
</head>
<body>
  <h1>Benvenuto nella tua pagina personale!</h1>

  <a href="/ricercavoli">
      <button>Inizia una nuova ricerca</button>
  </a>
  <br>
  <a href="/gestionevoli">
      <button>gestisci i tuoi voli</button>
  </a>

  <h2>Anagrafica utente</h2>
  <h4>Nome: </h4> <ul th:text="${utente.nome}"></ul>

  <h4>Cognome: </h4>  <ul th:text="${utente.cognome}"></ul>

  <h4>Indirizzo E-mail: </h4> <ul th:text="${utente.mail}"></ul>

  <h4>Codice fiscale: </h4> <ul th:text="${utente.cf}"></ul>

  <a href="/modificadatianagrafici">
      <button>modifica i tuoi dati</button>
  </a>

</body>
</html>