<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModificaAnagrafica</title>
</head>
<body>
<div align="center">
    <h1>Modifica i tuoi dati</h1>

    <hr>
    <label> Nome: </label>
    <input type="text" name="nome" size="15"/>

    <br><br>

    <label> Cognome: </label>
    <input type="text" name="cognome" size="15"/>

    <br><br>

    <label> Password: </label>
    <input type="text" name="password" size="15"/>

    <br><br>

    <label> Conferma password: </label>
    <input type="text" name="password" size="15"/>

    <br><br>

    <a href="/anagrafica/modifica/success">
        <button>Conferma</button>
    </a>
</div>
</body>
</html>